* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.button {
    padding: 4px 10px;
    border-radius: 8px;
}

/* Initial Window */

#initial-window {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0.95;
    position: fixed;
}
#patua-image {
    width: 100%;
    height: 50%;
}
#detail-image {
    width: 100%;
    height: 25%;
    justify-self: stretch;
    margin-bottom: -0.2%;
}
#container-logo-window {
    width: 100%;
    height: 30%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo-window {
    height: 80%;
}
.line-detail1 {
    width: 100%;
    height: 8%;
    background-color: rgb(189, 184, 153);
}
.line-detail2 {
    width: 100%;
    height: 2%;
    background-color: rgb(242, 203, 139);
}
#welcome-name {
    color: white;
    margin-bottom: 10vh;
    font-style: italic;
    font-size: 6vh;
}
#welcome-message {
    color: white;
    margin-top: 10vh;
    font-style: italic;
    font-size: 6vh;
}

/* Header */

header {
    width: 100vw;
    height: 15vh;
    display: flex;
    border: 2px solid rgb(135, 138, 98);
    align-items: center;
    justify-content: space-between;
}
#container-logo {
    height: 80%;
}
#logo {
    height: 100%;
}
#form-login {
    display: flex;
    justify-content: center;
    align-content: center;
    width: max-content;
    height: 50px;
}
#container-login {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
#input-email {
    width: 200px;
}
#input-password {
    width: 150px;
}
.margin-container-input {
    margin: 3px;
}
#btn-submit {
    margin-left: 10px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 2em;
    border: 2px solid rgb(135, 138, 98);
    margin-top: 5px;
}
.nav-items-style {
    margin: 5px 10px;
    text-decoration: none;
}





/* Footer */

footer {
    width: 100vw;
    height: 5vh;
    background-color: rgb(45, 44, 44);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 900;
}